.field{
    display: flex;
    margin: 50px auto;
    border: 1px solid #000;
    width: 640px;
    height: 640px;
    flex-wrap: wrap;
}

.excel{
    width: 78px;
    height: 78px;
    border: 1px solid #000;
    font-size: 35px;
    display: flex;
    align-items: center;
}

.current{
    color: transparent;
    background: url(chess-horse.png) center no-repeat;
    background-size: cover;
}